!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge,chrome=1', http: { equiv: 'X-UA-Compatible' } }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %title= current_page.data.title || 'The Middleman'
    %link{ href: '//fonts.googleapis.com/css?family=Questrial', rel: 'stylesheet', type: 'text/css' }
    %link{ href: '//fonts.googleapis.com/css?family=Sanchez:400italic,400', rel: 'stylesheet', type: 'text/css' }
    = stylesheet_link_tag 'application'


  %body{ class: page_classes }
    %header.navigation{ role: 'banner' }
      .navigation-wrapper
        %a.navigation-mobile-menu#js-navigation-mobile-menu{ href: 'javascript:void(0)' } MENU
        %nav{ role: 'navigation'}
          %ul.navigation-menu.show#js-navigation-menu
            %li.nav-link
              %a{ href: '#home' } Home
            %li.nav-link
              %a{ href: '#invite' } Invites
            %li.nav-link
              %a{ href: '#rules' } Rules
            %li.nav-link
              %a{ href: '#join' } Join
            %li.nav-link
              %a{ href: '#slack' } Slack
            %li.nav-link
              %a{ href: '#resources' } Resources

    = yield
    = javascript_include_tag 'https://code.jquery.com/jquery-2.1.1.min.js', 'application', 'pym'
