!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge,chrome=1', http: { equiv: 'X-UA-Compatible' } }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }

    %title= 'Journalists of Color'
    %meta{ name: 'description', content: "A Slack channel dedicated to putting Journalists of Color in the same room – minorities of all shapes and sizes welcome! Read what we're all about and request an invite here." }

    %link{ href: '//fonts.googleapis.com/css?family=Work+Sans|Fredoka+One', rel: 'stylesheet', type: 'text/css' }

    = stylesheet_link_tag 'application'



  %body{ class: page_classes }
    %header.navigation{ role: 'banner' }
      .navigation-wrapper
        %a.navigation-mobile-menu#js-navigation-mobile-menu{ href: 'javascript:void(0)' } MENU
        %nav{ role: 'navigation'}
          %ul.navigation-menu.show#js-navigation-menu
            %li.nav-link
              %a{ href: '#home', class: 'home' } Home
            %li.nav-link
              %a{ href: '#invite', class: 'invites' } Invites
            %li.nav-link
              %a{ href: '#rules', class: 'rules' } Rules
            %li.nav-link
              %a{ href: '#join', class: 'join' } Join
            %li.nav-link
              %a{ href: '#resources', class: 'resources' } Resources

    = yield
    = javascript_include_tag 'https://code.jquery.com/jquery-2.1.1.min.js', 'application'
