---

title: Welcome

---

.wrapper-small
  %section.type-system-geometric#home

    .hero
      .hero-inner
        %a.hero-logo{:href => ''}
          %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png\n"}/
        .hero-copy
          %h1 Journalists of Color aka Crayhola
          :markdown
            You’ve found us! We are a community of Journalists of Color aka JOCs, and this website is for you – the public – to peruse, find out what we’re all about and maybe even join us.

            We created a Slack team to start gathering people and ideas, and we quickly learned a few things:

            + The media diversity struggle is real real in newsrooms across the country.

            + The conversations we’re having are ones that need to be had on a wider scale.

            + Members agree that a community like this is wanted and necessary.

            + This [Tupac movie by a Chinese film studio](http://blogs.indiewire.com/shadowandact/watch-trailer-for-chinese-film-about-tupac-until-the-end-of-time-youll-gonna-love-it-20151123 'Tupac biopic') is due to drop in 2016.

            We founded this group to put Journalists of Color in the same "room" (you know, so you’re not the [only one](http://www.npr.org/sections/codeswitch/2015/07/29/427190143/on-wyatt-cenac-key-peele-and-being-the-only-one-in-the-room 'Key and Peele skit').) And having a Slack team allows us to branch out and create infinite rooms to discuss a variety of topics, collaborate on projects or chat/scheme/vent privately via direct messages or private groups.

            We are dedicated to growing and expanding this community, and its conversations and opportunities. We’ve already branched out from Slack to a couple of meetups on the East and West coasts. So stay tuned because we’re just getting started.




  %section.type-system-geometric#invite

    %h2 WHO’S INVITED

    :markdown
      You are or identify as a person of color (i.e. less Rachel Dolezal and more [real-life transracial experience](http://www.thelostdaughters.com/2015/06/transracial-lives-matter-rachel-dolezal.html 'Be real yo.') and work in journalism.

      “Work in journalism” = Do you identify as a journalist? Is your job something that helps to push journalism forward? Yeah? Sweet, then click on the following:

      **APPLICATION/SURVEY GOOGLE FORM THINGY or shortcut to JOIN tab**

      Allies: While we appreciate your support, this space is for us.

  %section.type-system-geometric#rules

    %h2 THE RULES

    :markdown
      What happens in the JOCs Slack stays in the JOCs Slack – everything said or gif’d or bot’d is **OFF THE RECORD**. This is a safe space to talk about whatever, network, commune and support one another. Now, we’re all smart enough to know that nothing on the Interwebs is 100% safe or secure and we’re supposed to trust no one, so that’s where common sense comes in.

      In earlier discussions we agreed that the same decorum and discretion we apply to social media or professional listservs should be used in the all-access, public channels. Be respectful, don’t be a jerk, and help keep this space as accessible and inclusive as possible.

  %section.type-system-geometric#join

    %h2 JOIN

    .typeform-widget{"data-text" => "Join the Journalists of Color (JOC) Slack Channel", "data-url" => "https://erik74.typeform.com/to/Utaa2L", :style => 'width:100%;height:500px;'}
    :javascript
      (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()


  %section.type-system-geometric#slack

    %h2 TO THE SLACK!

    :markdown
      Once you get the invite in your email, click to join right away.

      First steps:

      1. You’ll be asked to fill in your username – this can be whatever you want.

      2. Pick a strong password (we recommend [enabling two-factor authentication](https://slack.zendesk.com/hc/en-us/articles/204509068-Enabling-two-factor-authentication 'Instructions to enable two-factor authentication.')).

      3. You’re in! Now you can finish the rest of your profile: Select “View Profile & Account” in the dropdown to the right of “JOC” and click the edit button. We encourage you to use your full name, title and a picture of yourself – it'll help people who don't already know you *get* to know you.

      4. By default, you’ll be opted into the #general and #intros channels. Go ahead and tell us a little bit about yourself in the #intros channel!

      5. _Something about how the newb will get a doc with second tier instructions like the private slack contacts and stuff.. this is stuff that doesn’t need to be public facing. also, can we get someone to build a bot that will hit them up when they join with this kind of stuff?_

  %section.type-system-geometric#etc

    %h2 ETC.

    :markdown
      [Our Twitter list](https://twitter.com/juliachanb/lists/jocs 'Journalists of Color Twitter List')
