@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Work Sans", helvetica, sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Work Sans", helvetica, sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Work Sans", helvetica, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Work Sans", helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

body {
  background-color: #F2F2F2;
  color: #333;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 1.618em; }
  body::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 53.75em) {
    body {
      margin-left: auto;
      margin-right: auto; } }

section {
  margin-bottom: 50px; }

.main-wrapper {
  padding-top: 90px; }

#join::after {
  clear: both;
  content: "";
  display: table; }

ul {
  list-style-type: square;
  padding-left: 18px; }

.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em; }

.wrapper-small {
  margin: auto;
  width: 90%; }

.navigation {
  min-height: 60px;
  width: 100%;
  z-index: 9999;
  position: fixed;
  background-color: #59A5C6;
  top: 0;
  left: 0; }
  .navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    .navigation .mobile-logo img {
      max-height: 60px;
      opacity: 0.6;
      padding: 0.8em 0; }
    @media screen and (min-width: 53.75em) {
      .navigation .mobile-logo {
        display: none; } }
  .navigation .navigation-mobile-menu {
    color: rgba(242, 242, 242, 0.7);
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .navigation .navigation-mobile-menu {
        display: none; } }
    .navigation .navigation-mobile-menu:focus, .navigation .navigation-mobile-menu:hover {
      color: #F2F2F2; }
  .navigation .navigation-wrapper {
    position: relative;
    z-index: 999; }
    .navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .navigation ul.navigation-menu {
    text-align: center;
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    .navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .navigation ul.navigation-menu {
        display: block; } }
  .navigation ul li.nav-link {
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .navigation ul li.nav-link a {
      color: rgba(242, 242, 242, 0.7);
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .navigation ul li.nav-link a:focus, .navigation ul li.nav-link a:hover {
        color: #F2F2F2; }
    @media screen and (min-width: 53.75em) {
      .navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px; }
        .navigation ul li.nav-link a {
          padding-right: 1em; } }
  .navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .navigation li.logo.nav-link {
        display: inline; } }
  .navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: 0.6; }
  .navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .navigation li.more.nav-link {
        padding-right: 1em; } }
    .navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .navigation li.more.nav-link a {
      margin-right: 1em; }
    .navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(242, 242, 242, 0.7);
      content: "\25BE"; }
  .navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .navigation li.more a {
      padding-right: 1em; }
    .navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .navigation li.more > a {
          margin-right: 1em; } }
      .navigation li.more > a:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    .navigation li.more:focus > .submenu, .navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      .navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    .navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .navigation ul.submenu li {
          line-height: 46.15385px; }
          .navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          .navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      .navigation ul.submenu li a {
        background-color: #ddebe4;
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .navigation ul.submenu li a {
            background-color: #fff;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

body {
  background: #fff; }

.main-wrapper {
  max-width: 700px;
  margin: 0 auto; }

h1 {
  font-size: 1.8em;
  font-weight: 800; }

h2 {
  font-size: 1.6em;
  font-weight: 800;
  text-align: center;
  margin: 0.4em auto 1em; }

p {
  font-size: 1.2em; }

a {
  color: #20667F; }

.navigation {
  background: #F2F2F2; }

.navigation ul li.nav-link {
  padding-right: 0; }

.navigation ul li.nav-link a {
  padding: 0 1em;
  font-weight: 800; }
  .navigation ul li.nav-link a.home {
    color: #333; }
  .navigation ul li.nav-link a.rules {
    color: #BC9F40; }
    .navigation ul li.nav-link a.rules:hover {
      color: #fff;
      background: #BC9F40; }
    .navigation ul li.nav-link a.rules.selected {
      color: #fff;
      background: #BC9F40; }
  .navigation ul li.nav-link a.invites {
    color: #20667F; }
    .navigation ul li.nav-link a.invites:hover {
      color: #fff;
      background: #20667F; }
    .navigation ul li.nav-link a.invites.selected {
      color: #fff;
      background: #20667F; }
  .navigation ul li.nav-link a.join {
    color: #BF2A2A; }
    .navigation ul li.nav-link a.join:hover {
      color: #fff;
      background: #BF2A2A; }
    .navigation ul li.nav-link a.join.selected {
      color: #fff;
      background: #BF2A2A; }
  .navigation ul li.nav-link a.resources {
    color: #487F3D; }
    .navigation ul li.nav-link a.resources:hover {
      color: #fff;
      background: #487F3D; }
    .navigation ul li.nav-link a.resources.selected {
      color: #fff;
      background: #487F3D; }

section {
  margin: 6em auto; }

#rules {
  border-top: 10px solid #BC9F40; }

#invite {
  border-top: 10px solid #20667F; }

#join {
  border-top: 10px solid #BF2A2A; }

#resources {
  border-top: 10px solid #487F3D; }

#crayhola-submit-page {
  display: none; }

.ss-required-asterisk {
  color: #BF2A2A; }

.ss-q-help.ss-secondary-text {
  font-weight: normal;
  color: #989898; }

.ss-q-title {
  margin: 25px 0px 0px 0px; }

.error-message {
  color: #989898; }
